.cart-container {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #575757;
    margin-top: 20px;
  }
  
  .cart-item {
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
  }
  
  .cart-item:hover {
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  }
  
  .item-details {
    margin-top: 0.5rem;
  }
  
  .cart-summary {
    margin-top: 2rem;
  }
  
  button {
    margin-right: 10px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007bff;
    color: white;
  }
  
  .clear-button {
    background-color: #ff4d4d;
    color: white;
  }
  
  .empty-cart {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #252121;
  }

  /* Затемнение фона при открытии модалки */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* черный фон с прозрачностью */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* поверх всего остального */
}

/* Сама карточка модалки */
.modal-content {
  background-color: #1b222c;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  text-align: center;
  max-width: 400px;
  width: 90%;
  animation: fadeIn 0.3s ease;
}


.modal-content h2 {
  margin-bottom: 1rem;
  color: #4CAF50; 
}


.modal-content p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

/* Кнопка закрытия модалки */
.modal-content button {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #45a049;
}

/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
